# Third party keys
TAVILY_API_KEY=

# Langsmith keys
LANGSMITH_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT="tianchi"

# Third party LLM Provider service keys
LLM_API_KEY=
LLM_MODEL_ID="Pro/deepseek-ai/DeepSeek-V3.2"
LLM_BASE_URL="https://api.siliconflow.cn/v1"

# Embedding Configuration
LLM_EMBEDDING_MODEL_ID="Qwen/Qwen3-Embedding-8B"
# LLM_EMBEDDING_BASE_URL=
# LLM_EMBEDDING_API_KEY=
EMBEDDING_DIMENSIONS=1024

# Qdrant Configuration
QDRANT_URL="http://localhost:6333"

# Crossref polite pool email
CROSSREF_MAILTO=

# Alibaba IQS search API key
ALIBABA_IQS_API_KEY=
